
body {
  
  margin: 0 auto; 
  font-family: Arial, sans-serif; 
  background: #f5f5f5; 
  width: 1160px;
}

/*  HEADER  */
header {
  background-color: rgb(23, 171, 179); 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: flex-end;
  text-align: center;
  padding: 20px; 
}
#photo-profil img {
  flex: 1;  
  width: 100px;       
  height: 100px;      
  border-radius: 50%; 
  border: 3px solid white; 
  object-fit: cover;  
  margin-right: 20px; 
  cursor: zoom-in;
}

header img {
  object-fit: cover;  
  width: 10px; 
  margin-right: 20px; 
}



.header-content {
  flex: 1; 
}

.header-content h1 {
  margin: 0; 
  font-size: 26px; 
  font-weight: bold; 
}

.header-content p {
  margin: 5px 0 15px; 
  font-size: 16px; 
}

.coordonnees {
    
  list-style: none; 
  padding: 0; 
  margin: 0;
  display: flex; 
  gap: 20px; 
  justify-content: center;
  text-align: center;
}



.coordonnees img {
  width: 18px; 
  margin-right: 8px; 
}

.coordonnees a {
  color: white; 
  text-decoration: none; 
}

.content {
  display: flex;
  flex-direction: row; 
}
/*ASSIDE*/
aside {
  flex: 1;
  background: #e3e3e3;
  padding: 28px 22px 36px;
}

main {
  flex: 3;
  padding: 20px;
}

p {
  text-indent: 30px;
}

h2{
    color:#17abb3;
}
.competences-grid {
  display: grid;
  grid-template-columns: 1fr auto; 
  row-gap: 8px;
  align-items: center;
}

.stars {
  color: #17abb3;    
  font-size: 16px;
  
}

.label strong {
  font-weight: 700;
}


.langues {
  display: grid;
  row-gap: 6px;
}

.lang-row {
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: baseline;
}

.lang { 
  text-align: left; 
  font-weight: 700; 
}

.lvl { 
  text-align: right; 
  opacity: 0.8; 
  font-style: normal; 
}

.taglist {
  list-style-type: square;   
  padding-left: 20px;        
}

.taglist li {
  color: #000;               
  position: relative; 
}

.taglist li::marker {
  color: #17abb3;               
}

h2 {
  border-bottom: 1px solid #d6d1d1; 
  padding-bottom: 5px;              
  margin-bottom: 10px;              
}

/* MAIN*/


.item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;               /* Ajoute un peu d’air autour du texte */
  border-left: 3px solid transparent; /* Bordure gauche invisible par défaut */
  transition: all 0.3s ease;   /* Animation fluide */
}

.item-title {
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.item-sub {
  font-size: 13px;
  font-style: italic;
  color: #555;
}

.item-date {
  font-size: 14px;
  color: #17abb3;
  text-align: right;  
  white-space: nowrap; /* Empêche le retour à la ligne */
}
.item:hover {
  background-color: #f0fafa;   /* Fond clair au survol */
  border-left: 3px solid #17abb3; /* Trait vertical bleu */
}
